<!DOCTYPE html>

<html>
<head>
 <title>Sweet Memories</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>

    <script>
        var constants = {
            UNSAVED_PRODUCT_ID: -1,
            UNSAVED_BRAND_ID: -1
        };
        
        var app = angular.module("SweetMemories", []);
        
        app.factory("BrandService", function(){
            var brands = [{
               name: "Brand 1",
               id: 1
            },{
                name: "Brand 2",
                id: 2
            },
            {
                name: "Brand 3",
                id: 3
            }];
            
            return {
                all: function()
                {
                    return brands;
                },
                first: function()
                {
                    return brands[0];
                },
                last: function()
                {
                    return brands[brands.length - 1];
                }
            }
        });
        
        
        app.controller("brandController", function ($scope, BrandService) {
            $scope.brands = BrandService.all();
        });
        
        
        //custom dropdown directive
        app.directive("mngDropdown", function(){
           return {
                //only used for elements
                restrict: "E",
                templateUrl: "templates/mngdropdown.html",
                //template: "<select><option></option></select>",
                scope: {
                    modelData: "=data",
                    allowAddNew: "=dynamicAdd",
                    ddClass: "=dropdownClass",
                    optClass: "=optClass"
                }
           }
        });
        
        app.controller("productController", function ($scope, BrandService) {
            $scope.brands = BrandService.all();

            $scope.maxRating = 5;
            $scope.ratingsEnabled = function(savedRating, maxRating)
            {
                var ratings = new Array(maxRating);
                
                for (var i = 0; i < ratings.length; i++) {
                    if (i <= (savedRating - 1))
                        ratings[i] = true;
                    else
                        ratings[i] = false;
                }
                
                return ratings;
            };
            $scope.displaySelectedRating = function(ratingElement) {
                //if it is not enabled then enable it
                if(!($(ratingElement).hasClass("baseRatingEnabled")))
                    $(ratingElement).addClass("baseRatingEnabled");               
                
                //ensure that the surrounding siblings are set appropriately to enabled or disabled
                if ($(ratingElement).hasClass("baseRatingEnabled"))
                {
                    $(ratingElement).prevAll().addClass("baseRatingEnabled");
                    $(ratingElement).nextAll().removeClass("baseRatingEnabled");
                }
                else
                    $(ratingElement).nextAll().removeClass("baseRatingEnabled");
            };
            $scope.redisplaySavedRating = function(ratingElement)
            {
                //
            }
            $scope.calculateNewRating = function(ratingElement){
                return $(ratingElement).prevAll().length + 1;
            };
            $scope.updateRating = function(clickEvent) {
                var ratingElement = $(clickEvent.target);
                $scope.displaySelectedRating(ratingElement);
                $scope.product.savedRating = $scope.calculateNewRating(ratingElement);
            };
            
            $scope.product = {
                  /* existing products will have an id */
                  id: constants.UNSAVED_PRODUCT_ID,
                  name: "Some Product Name",
                  brand: {
                    name: "Some Brand Name",
                    id: constants.UNSAVED_BRAND_ID
                  },
                  savedRating: 4,
                  ratingsArray: $scope.ratingsEnabled(4, $scope.maxRating)
            };
        });
    </script>
        <link rel="stylesheet" type="text/css" href="./styles/baseStyles.css" />
        <link rel="stylesheet" type="text/css" href="./styles/tealTheme.css" />
</head>
<body class="baseBackground themeBackground">
    <div class="themeLeftWall baseLeftWall">
        
        <div class="themeWallEdge baseWallEdge ">
            
        </div>
    </div>

    <div class="themeAwning baseAwning">
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>

            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>
            <div class="themeSingleAwning baseSingleAwning"></div>

    </div>
    

        <div class="themeRightWall baseRightWall">
        
        <div class="themeWallEdge baseWallEdge">
            
        </div>
    </div>

    
    <div class="themeStoreSign baseStoreSign">Sweet Memories</div>
    

    
    <div data-ng-app="SweetMemories" class="baseWidgetContainer themeWidgetContainer">
        

        
        
        <div data-ng-controller="productController" class="baseInputContainer themeInputContainer">
            <label for="brandAutoComplete">Brand</label>
            <div>
                <mng-dropdown data="brands" dynamic-add="true" dropdown-class="baseSelect"></mng-dropdown>
            </div>
            
            
            
            <!--
            <input id="brandAutocomplete" type="text" data-ng-model="product.brand.name" />
            -->
            
            <label for="productNameTextArea">Product Name</label>
            <textarea id="productNameTextArea" data-ng-model="product.name"></textarea>
            
            <div class="baseRatingContainer">
                <div class="themeRating baseRating" ng-click="updateRating($event)" data-ng-repeat="rating in product.ratingsArray track by $index"
                     data-ng-class="{'baseRatingEnabled': rating}"></div>
            </div>
            
            <input class="baseSubmitButton themeSubmitButton" type="submit" id="submitProductButton" value="Save" />
        </div>
    </div>
</body>
</html>
