/**
 * color palette: teals, whites, grays :)
 *
 * 
 * #878B87 //gray
 * #E4FCC7 //cream
 * #7AC0CA //light teal
 * #79C5C5 //very light teal
 * #51939F //another teal
 ***/

.themeBackground
{
    background: #7AC0CA;
    font-family: Arial;
}

.themeInputContainer
{
    background: white;
    box-shadow: 5px 5px 9px 0px rgba(0, 0, 0, 0.75);
    border: 1px solid #E4FCC7;
}

.themeSubmitButton
{
    background: #51939F;
    border: 1px solid #79C5C5;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.themeRating
{
    
}

input, textarea
{
    border: 1px solid #bbb;
}

/**
 * if the input is not explicitly labled type text
 * this does not always take effect
 * */
input[type=text]:focus, textarea:focus
{
    border: 1px solid #51939F;
}

label
{
    color: #333;
    text-transform: uppercase;
}